@using MyProject.Models.Sinif
@model List<Bloglar>
@using MyProject.App_Code



@foreach (var x in Model)
{
    <div class="col-lg-4 col-md-6">
        <div class="blog-card">
            <div class="blog-img">
                <a href="#">
                    <img src="@x.Resim" alt="Blog Images">
                </a>
            </div>
            <div class="blog-content">
                @if (x.icerik.Length > 90)
                {
                    @*<div class="blog-tag">
                            <a href="~/Default/BlogDetay/@x.id"><span>@Html.ActionLink(x.Baslik, "BlogDetay", new { id = x.id, ara4 = Seo.AdresDuzenle(x.Baslik) })</span></a>
                        </div>*@
                    <a href="~/Default/BlogDetay/@x.id">
                        <h6>@Html.ActionLink(x.Baslik, "BlogDetay", new { id = x.id, ara4 = Seo.AdresDuzenle(x.Baslik) })</h6>
                    </a>
                    <p style="font-size:14px;">
                        <a href="~/Default/BlogDetay/@x.id" class="read-btn">@Html.ActionLink("İncele", "BlogDetay", new { id = x.id, ara4 = Seo.AdresDuzenle(x.Baslik) })</a>
                    </p>
                }
                else
                {

                    <a href="~/Default/BlogDetay/@x.id">
                        <h6>@Html.ActionLink(x.Baslik, "BlogDetay", new { id = x.id, ara4 = Seo.AdresDuzenle(x.Baslik) })</h6>
                    </a>
                    <p style="font-size:14px;">
                        <a href="~/Default/BlogDetay/@x.id" class="read-btn">@Html.ActionLink("İncele", "BlogDetay", new { id = x.id, ara4 = Seo.AdresDuzenle(x.Baslik) })</a>
                    </p>
                }
            </div>
        </div>
    </div>
}


