@using MyProject.Models.Sinif
@model List<KVKKSozlesmesi> 
@{
    ViewBag.Title = "AdminKVKK";
    Layout = "~/Views/Shared/Admin_Layaout.cshtml";
}

<div style="width:100%" ; class="col-md-12 table table-hover">
    <h3>Gizlilik Sözleşmesi KVKK</h3>
    <table class="table table-bordered">
        <tr>
            <th>Alt Başlık</th>
            <th>Alt Başlık 2</th>
            <th>İçerik</th>
            @*<th>Resim</th>*@
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var x in Model)
        {
            <tr>
                <td>@x.AltBaslik</td>
                <td>@x.AltBaslik2</td>
                <td>@Html.Raw(@x.icerik)</td>
                @*<td>@x.Resim</td>*@
                <td><a href="~/Admin/AdminKVKKSil/@x.id" onclick="return confirm('Bunu Silmek İstediginizden Emin misin? @x.AltBaslik2')" class="button border with-icon" style="background-color:#ff0000; color:#fff">Sil</a></td>
                <td><a href="~/Admin/AdminKVKKGetr/@x.id" class="button border with-icon">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Admin/AdminKVKKEkle/" class="button border with-icon">Yeni Bir Madde Ekle</a>

</div>

