
@{
    ViewBag.Title = "AdminIndex";
    Layout = "~/Views/Shared/Admin_Layaout.cshtml";
}

<!-- Titlebar -->
<div id="titlebar">
    <div class="row">
        <div class="col-md-12">
            <h2>Hoş Geldiniz: @ViewBag.adsoyad!</h2>
            <!-- Breadcrumbs -->

        </div>
    </div>
</div>

<!-- Content -->
<div class="row">

    <!-- Item -->
    @*<div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-1">
            <div class="dashboard-stat-content"><h4>@ViewBag.d1</h4> <span> Kategoriler </span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Code-Window"></i></div>
        </div>
    </div>*@

    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-2">
            <div class="dashboard-stat-content"><h4>@ViewBag.d2</h4> <span>Hizmetler</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Coding"></i></div>
        </div>
    </div>


    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-3">
            <div class="dashboard-stat-content"><h4>@ViewBag.d3</h4> <span>Kullancıdan Gelen Form</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Add-UserStar"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-4">
            <div class="dashboard-stat-content"><h4>@ViewBag.d4</h4> <span>Paketler</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-University"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat" style="background-color:#bf4040">
            <div class="dashboard-stat-content"><h4>@ViewBag.d5</h4> <span>Bloglar</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Post-Sign2ways"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat" style="background-color:#45c0ab">
            <div class="dashboard-stat-content"><h4>@ViewBag.d6</h4> <span>Portfoy (Projeler)</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Mail-Unread"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat" style="background-color:#00ff80">
            <div class="dashboard-stat-content"><h4>@ViewBag.d7</h4> <span>Şirket Çalışanları</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Open-Book"></i></div>
        </div>
    </div>

    <!-- Item -->
    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat" style="background-color:#0080ff">
            <div class="dashboard-stat-content"><h4>@ViewBag.d8</h4> <span>Muşteri Mesajları</span></div>
            <div class="dashboard-stat-icon"><i class="im im-icon-Notepad"></i></div>
        </div>
    </div>
</div>


